  @keyframes rotation-square {
    from {
      transform: rotate(-15deg);
    }
    to {
      transform: rotate(345deg);
    }
  }
  
  .rotation-square {
    animation: rotation-square 20s linear infinite;
  }