@import url('__brief/two-columns__brief.css');
@import url('__main-text/two-columns__main-text.css');
@import url('__paraghaph/two-columns__paraghaph.css');
@import url('__span/two-columns__span.css');

.two-columns {
    width: 80%;
    display: grid;
    grid-template-columns: 175px minmax(784px, 80%);
    justify-content: space-between;
    margin: 0 auto;
  
  }