.kaufman__triangle {
    display: flex;
    position: absolute;
    right: -210px;
    top: 0;
    width: 877px;
    height: 877px;
    background-image: url('../__triangle/kaufman__triangle.css');
    background-size: contain;
    z-index: -1;
  }