@import url('./__logo/resource__logo.css');
@import url('./__logo-zone/resource__logo-zone.css');

.resource {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 217px;
}