.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
<<<<<<< HEAD
  }

  .khan__buy-link:hover {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #0000ff	;
=======
>>>>>>> 6281837515ac39dfaf6367711503f4a6ba953fd4
  }